* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    outline: none;
    border: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.dark-theme {
    background: #242424;
    color: #fff;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    max-width: 75%;
    word-wrap: break-word;
}

.options {
    padding: 1em;
    border-radius: 5px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dark-theme .options {
    background: #303030;
}

.option {
    font-size: 1.2rem;
    animation: fadeIn ease 1s;
}

.bold {
    font-weight: 700;
}

.option span {
    font-weight: 400;
    cursor: pointer;
}

.copied {
    margin-left: 0.25rem;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.2em 0.4em;
    position: absolute;
    animation: fadeIn ease-in-out 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.so-far {
    font-size: 1rem;
}

.generate-btn {
    background: #ffa724;
    color: white;
    font-size: 0.9rem;
    padding: 0.75em 1.25em;
    border-radius: 5px;
    transition: filter 0.25s ease;
}

.generate-btn:hover {
    filter: brightness(120%);
}

#dark-theme-btn {
    top: 0.5em;
    left: 1em;
    position: absolute;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}
